[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
[submodule "public"]
	path = public
	url = https://github.com/Valeyard1/valeyard1.github.io.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/dillonzq/LoveIt
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
